
.modal .modal-body,.modal .modal-footer, .modal .modal-header{
    background-color: #fff;
    color: #fff;
}
.modal .modal-header,
.modal .modal-footer{
    border: none;
    background-color: #fff;
}
.modal .modal-body form .form-control{
    width: 50%;

}
.modal .modal-body form label{
    color: #000;
}
.modal .modal-body .nav{
    margin-bottom: 40px;
}
