
@media (max-width: 576px) {
    .banner-1 .jumbotron h1 {
        font-size: 20px !important;
        font-weight: bold;
        text-shadow: 0 0 7px #fff;
    }

    .banner-1 .jumbotron h3 {
        font-size: 17px !important;
        color: #fff;
        text-shadow: 0 0 10px #000;
    }

    .banner-2 .jumbotron h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .banner-2 .jumbotron h2 {
        font-size: 18px;
    }

    .banner-2 .jumbotron ul li {
        font-size: 15px;
    }

    .banner-3 .jumbotron .main {
        margin-top: 0px;
    }

    .banner-3 .jumbotron .main .pic {
        margin-top: 10px;
        margin-bottom: 70px;
    }

    .banner-3 .jumbotron .main h2 {
        font-size: 20px;
    }

    .banner-3 .jumbotron ul li {
        font-size: 15px;
    }

    footer .jumbotron h3 {
        font-size: 20px;
    }

    footer .jumbotron .main p {
        font-size: 14px;
    }

    footer .jumbotron ul li > a {
        font-size: 14px;
    }

    footer .jumbotron form label {
        font-size: 14px;
    }

    .banner-4 {
        padding-top: 100px;
    }
    .banner-4 .main {
        background-color: rgba(0, 0, 0, .4) !important;
    }
    .banner-4 h1 {
        font-size: 20px;
    }
    .banner-4 p {
    font-size: 14px;
    }
    .banner-6 .main,
    .banner-5 .main{
        margin-top: 30px;
        box-shadow: 0 0 3px #000;
    }
    .banner-ab-ack .main p{
        font-size: 14px;
        /*border-bottom: 2px solid #000;*/
    }
    .banner-ab-ack .main{
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner-ab-ack h3{
        font-size: 20px;
    }
    .banner-sch  ul li a{
        color: #fff;
    }
    .banner-sch li{
        display: inline-block;
        background-color: #d13031;
        color: #fff;
    }

}


